
<title>MasterPc - Login</title>

<body class="bg-light">

    <div class="container">
        <div class="card card-login mx-auto mt-5">
            <div class="card-header">Login</div>
            <div class="card-body">
                <form action="/Login/Autentica" method="post">
                    <div class="form-group">
                        <div class="form-label-group">
                            <input id="login" name="login" class="form-control" placeholder="Usuário" required="required" autofocus="autofocus">
                            <label for="login">Usuário</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-label-group">
                            <input type="password" id="inputPassword" name="senha" class="form-control" placeholder="Senha" required="required">
                            <label for="inputPassword">Senha</label>
                        </div>
                    </div>
                    <input class="btn btn-primary btn-block" type="submit" value="Entre" />
                </form>
                <div class="text-center">
                    <a class="d-block small mt-3" href="~/Usuarios/Criar">Cadastrar uma conta</a>
                </div>
            </div>
        </div>
    </div>
</body>
